.footer {
    background-color: #4C394E;
}

.footer__container {
    max-width: 1325px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.footer__copyright {
    margin: 32px 0px 32px 0px;
    color:$white-color;
    font-family: $font-cabin;
    font-size: $size-x;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer__reserved {
    margin: 32px 0px 32px 0px;
    color: $white-color;
    font-family: $font-cabin;
    font-size: $size-x;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
