.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__logo-cart {
    background-color: #10BBD5;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header__container {
    max-width: 1325px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.header__logo {
    display: flex;
    align-items: center;

    .header__logo--book {
        color: $white-color;
        font-family: $font-cabin;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
        margin-left: 4px;
    
        &::before {
            content: url();
            background-image: url(../images/logo_book.svg);
            display: inline-block;
            width: 26px;
            height: 28px;
        }
    }
}

.header__cart {
    display: flex;
    align-items: center;

    .header__cart-price {
        color: $white-color;
        font-family: $font-cabin;
        font-size: $size-x;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-right: 8px;
    }
    
    .header__cart-icon {
        width: 40px;
        height: 40px;
        text-decoration: none;
        position: relative;
    }

    .header__cart--icon-0 {
        color: $black-color;
        font-family: $font-cabin;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 10px;
        position: absolute;
        top: 9px;
        right: 8px;
        bottom: 18px;
        left: 19px;
    }
    
    .header__cart--icon-1 {
        margin: 0px 3px;
    }
    
    .header__cart--icon-2 {
        margin: 0px 0px 3px 11px;
    }
    
    .header__cart--icon-3 {
        margin: 0px 2px 3px 0px;
    }
}

.header__menu {
    background-color: #FFF;
    padding-top: 4px;
    padding-bottom: 4px;
}

.header__category {
    display: flex;
    align-items: center;

    .header__category-item {
        color: $black-color;
        font-family: $font-cabin;
        font-size: $size-x;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
    }
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 40px;

    .header__nav-item {
        color: $black-color;
        font-family: $font-cabin;
        font-size: $size-x;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
    }
}

