.main {
    background-color: #EEEEEF;
    padding-bottom: 120px;
}

.main__container {
    max-width: 1325px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.main__content {
    display: flex;
    border-bottom: 1px solid #A8A8A8;
    width: 1325px;

    .main__content-headering {
        color: #1F1F1F;
        font-family: $font-cabin;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        margin-top: 32px;
        margin-bottom: 23px;
    }
}

.main__product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 242px 448px;
    gap: 26px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.main__product-card-offer {
    @include product-card
}

.main__product-card-hoover {
    @include product-card
}

.main__product-card-atomic {
    @include product-card
}

.main__product-card-spare {
    @include product-card
}

.main__product-card-digital {
    @include product-card
}

.main__product-card-marcus {
    @include product-card
}

.main__product-card-stoics {
    @include product-card
}

.main__product-card-dopamine{
    @include product-card
}

.product__hit--offer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #4200FF;
    width: 36px;
    height: 32px;

    color: $white-color;
    font-family: $font-cabin;
    text-align: center;
    font-size: $size-x;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    top: 34px;
    right: 246px;
    bottom: 452px;
    left: 34px;
}

.product__new--hoover {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #AF39E7;
    width: 47px;
    height: 32px;

    color: $white-color;
    font-family: $font-cabin;
    text-align: center;
    font-size: $size-x;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    top: 34px;
    right: 246px;
    bottom: 452px;
    left: 34px;
}

.product__hit--atomic {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #4200FF;
    width: 36px;
    height: 32px;

    color: $white-color;
    font-family: $font-cabin;
    text-align: center;
    font-size: $size-x;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    top: 34px;
    right: 246px;
    bottom: 452px;
    left: 34px;
}

.product__off--atomic {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: $lilac-color;
    width: 70px;
    height: 32px;

    color: $white-color;
    font-family: $font-cabin;
    text-align: center;
    font-size: $size-x;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    top: 34px;
    right: 246px;
    bottom: 452px;
    left: 72px;
}

.product__off--digital {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: $lilac-color;
    width: 70px;
    height: 32px;

    color: $white-color;
    text-align: center;
    font-family: $font-cabin;
    font-size: $size-x;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    top: 34px;
    right: 246px;
    bottom: 452px;
    left: 83px;
}
 
.product__off--stoics{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: $lilac-color;
    width: 70px;
    height: 32px;

    color: $white-color;
    text-align: center;
    font-family: $font-cabin;
    font-size: $size-x;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    top: 34px;
    right: 246px;
    bottom: 452px;
    left: 32px;
}

.main__product-card {
    @include product-card
}

.product__img-card {
    width: 178px;
    margin: 0px 32px;
}

.product__title-card {
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: $font-cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
    margin-top: 16px;
    border-bottom: 1px solid $border-grey;
    width: 242px;
}

.product__description-card {
    overflow: hidden;
    font-family: $font-cabin;
    color:#8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: $size-x;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.product__price-card {
    color: #E90000;
    font-family: $font-cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-decoration: none; 
    margin-top: 8px;
}

.product__sale {
    color:#8E8E8E;
    font-family: $font-cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-decoration: line-through;
    margin-left: 24px;
}
