.product__button-card {
    font-family: Cabin;
    color:#F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: #4C394E;
    border: none;
    width: 242px;
    height: 40px;
    margin-top: 16px;
    border-radius: 4px;
}

.product__button-card-end {
    font-family: Cabin;
    color:#F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: #4D762D;
    border: none;
    width: 242px;
    height: 40px;
    margin-top: 16px;
    border-radius: 4px;
}