#chat {
    position: relative;
    position: fixed;
    top: 705px;
    right: 40px;
    z-index: 1;

    &::before {
        content: url();
        background-image: url(../images/Chat.png);
        display: block;
        width: 64px;
        height: 64px;
    }
}