@mixin product-card {
    width: 242px;
    display: flex;
    flex-direction: column;
    padding: 34px 34px;
    background-color: $white-color;
    border: 1px solid $border-grey;
    position: relative;
}